body{
  background-color:  rgb(243,243,242);
}

.container{
  display: flex;
  justify-content: space-between;
  gap:10px;
}
.container a{
  display: block;
  color: blue;
}

.box{
  background-color: white;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 15px;
}
.box img{
  
}
.box h4{
  display: inline-block;
  margin-left: 5px;
}
